:root {
  --title-color: #212121;
  --description-color: #757575;
  --white-color: #fff;
  --main-acent-color: #2196f3;
  --bg-white-color: #f5f4fa;
  --bg-gray-color: #2f303a;
  --black-color: #000;
  --footer-color: rgba(255, 255, 255, 0.6);
  --header-border-color: #ececec;
  --btn-hero-hover: #188ce8;
  --icon-color: #afb1b8;
  --bg-footer-icon-color: #43444d;
  --how-overlay-color: rgba(47, 48, 58, 0.8);
  --bg-backdrop: rgba(0, 0, 0, 0.2);
}

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
/* Класс для обнуления базовых свойств у списков (ul) */
ul {
  padding-left: 0;
  margin: 0;
}
/* Класс для обнуления базовых свойств у ссылок */
a {
  color: inherit;
}
/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: inherit;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.svg {
  fill: currentColor;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--description-color);
  background-color: var(--white-color);
  letter-spacing: 0.03em;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}
/*===========Header-start================*/
.page-header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--header-border-color);
}

.header-inner {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black-color);
  margin-right: 93px;
}

.logo span {
  color: var(--main-acent-color);
}

.nav-menu {
  display: flex;
  align-items: center;
}

.menu-list {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.menu-link {
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link.current {
  padding-bottom: 34px; /*оч жеский (невероятный) костыль*/
  padding-top: 32px;
}

.menu-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--main-acent-color);
}

.menu-link:hover,
.menu-link:focus,
.menu-link:active {
  color: var(--main-acent-color);
}

.menu-adress-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  column-gap: 50px;
}

.address-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.activ-link.current {
  color: var(--main-acent-color);
}

.address-link {
  display: inline-flex;
  align-items: center;
  color: var(--description-color);
}

.address-link:hover,
.address-link:focus {
  color: var(--main-acent-color);
}

.menu-adress-item .activ-link {
  color: var(--main-acent-color);
}

.header-mail {
  margin-right: 10px;
}

.header-tel {
  margin-right: 10px;
}
/*==================Header-end=====================*/

/*Hero-start*/
.section-hero {
  margin: 0 auto;
  max-width: 1920px;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--bg-gray-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/header-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title-hero {
  margin: 0 auto;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* text-align: center; */
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
}

.btn-hero {
  background-color: var(--main-acent-color);
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  color: var(--white-color);
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  font-family: inherit;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-hero:hover {
  background-color: var(--btn-hero-hover);
}
/*================Hero-end===================*/

/*=================About-start=================*/

.section-about {
  padding-bottom: 47px;
}

.about-list {
  display: flex;
  align-items: center;
  column-gap: 30px;
  row-gap: 10px;
}

.about-item-svgbox {
  background-color: var(--bg-white-color);
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 100px;
}

.about-item-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

.about-item-descr {
  max-width: 270px;
  font-size: 14px;
  line-height: 1.71;
}

.section-how {
  padding-top: 47px;
}

.title-how {
  margin-bottom: 50px;
}

.how-list {
  display: flex;
  align-items: center;
  column-gap: 30px;
  row-gap: 10px;
}

.how-overlay-descr {
  position: relative;
}

.how-descr {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--how-overlay-color);
  padding: 27px 30px;
}

.how-descr-sub {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--bg-white-color);
}

/*===================About-end==================*/

/*=================Team-start====================*/
.section-team {
  background-color: var(--bg-white-color);
}

.team-title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  align-items: center;
  column-gap: 30px;
  row-gap: 10px;
}

.team-item {
  width: calc((100% - 90px) / 4);
  /* calc((100% - кол-во_зазоров_в_строке * значение_одного_зазора) / кол-во_элементов_в_строке) */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-card-info {
  padding: 30px 10px;
  text-align: center;
  background: var(--white-color);
  border-radius: 0px 0px 4px 4px;
}

.team-name-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--title-color);
  margin-bottom: 10px;
}

.team-job-descr {
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}

.team-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.team-icon-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover,
.team-icon-link:focus {
  background-color: var(--main-acent-color);
  border-radius: 50%;
  color: var(--white-color);
}

.team-icon-svg {
  fill: currentColor;
}
/*====================Team-end===================*/

/*===================Clients-start=============*/
.clients-title {
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.clients-link {
  display: inline-flex;
  padding: 16px 32px;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--main-acent-color);
  color: var(--main-acent-color);
}

/*===================Clients-end=============*/

/*==================Footer-start===================*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-gray-color);
}

.footer-inner {
  display: flex;
  align-items: baseline;
  column-gap: 70px;
}

.logo-footer {
  display: block;
  color: var(--white-color);
  margin-right: 0;
  margin-bottom: 20px;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address-link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address-link.current {
  color: var(--white-color);
}

.email:hover,
.email:focus {
  color: var(--main-acent-color);
}

.tel:hover,
.tel:focus {
  color: var(--main-acent-color);
}

.footer-soc-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  margin-bottom: 20px;
}
.footer-soc-list {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.footer-soc-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--white-color);
  background-color: var(--bg-footer-icon-color);
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--main-acent-color);
}

.footer-soc-svg {
}
/*=================Footer-end==================*/

/*================Index.html-end=============*/

/*====================Portfolio button============*/
.portfolio-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  column-gap: 8px;
}

.btn-filter {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-color);
  background: var(--bg-white-color);
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-filter.current {
  background-color: var(--main-acent-color);
  color: var(--white-color);
}

.btn-filter:hover,
.btn-filter:focus,
.btn-filter:active {
  background: var(--main-acent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*==================Portfolio card==================*/

.portfolio-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 30px;
}

.portfolio-item {
  width: calc((100% - 60px) / 3);
  /* calc((100% - кол-во_зазоров_в_строке * значение_одного_зазора) / кол-во_элементов_в_строке) */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus,
.portfolio-item:active {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-overlay {
  position: relative;
  overflow: hidden;
}

.card-overlay-descr {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;

  color: var(--white-color);
  background-color: var(--main-acent-color);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .card-overlay-descr {
  transform: translateY(0);
}

.portfolio-card-info {
  padding: 20px 24px;
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-item-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.portfolio-item-descr {
  font-size: 16px;
  line-height: 1.87;
  color: var(--description-color);
}

.footer-form {
}
.footer-form-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
  margin-bottom: 20px;
}
.footer-input {
  width: 358px;
  min-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  outline: transparent;
  color: var(--white-color);
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-right: 12px;
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.footer-form-btn {
  display: inline-flex;
  width: 200px;
  min-height: 50px;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--white-color);
  background: var(--main-acent-color);
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 8px 29px;
}
.footer-btn-svg {
  margin-left: 12px;
}

/*================Portfolio.html-end==================*/

/*================Modal===============================*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-backdrop);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 40px;
}

.box-close-svg {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--black-color);
}

.modal-close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-close-svg:hover .modal-close-svg {
  fill: var(--btn-hero-hover);
}

.title-modal {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
  margin-bottom: 12px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-label {
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  font-size: 12px;
  line-height: 1.16;
  /* identical to box height */

  letter-spacing: 0.01em;
  margin-bottom: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;

  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: var(--main-acent-color);
}

.form-input:focus ~ .svg-form {
  fill: var(--main-acent-color);
}

.input-box {
  position: relative;
}

.svg-form {
  display: inline-block;
  position: absolute;
  left: 12px;
  transform: translateY(50%);
  fill: var(--title-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
  width: 100%;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus {
  border-color: var(--main-acent-color);
}

.form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.policy {
  text-align: center;
}

.label-chek {
  display: inline-block;
  position: relative;
  padding-left: 23px;
  padding-top: 2px;
  margin-bottom: 30px;
  color: var(--description-color);
  cursor: pointer;
}

.modal-chek {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.chek-box {
  position: absolute;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-color);
  border-radius: 3px;
  left: 8px;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-chek-svg {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-chek:focus + .chek-box {
  border: 2px solid var(--main-acent-color);
}

.modal-chek:checked:focus + .chek-box {
  border: 2px solid var(--main-acent-color);
  background-color: var(--main-acent-color);
}

.modal-chek:checked + .chek-box {
  border: 2px solid var(--main-acent-color);
  background-color: var(--main-acent-color);
}

.modal-chek:checked ~ .modal-chek-svg {
  fill: var(--white-color);
}

.policy-link {
  color: var(--main-acent-color);
}
.form-policy-btn {
  display: block;
  width: 200px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;

  color: var(--white-color);
  background-color: var(--main-acent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 55px;
}
