.section-about {
  padding-bottom: 47px;
}

.about-list {
  display: flex;
  align-items: center;
  column-gap: 30px;
  row-gap: 10px;
}

.about-item-svgbox {
  background-color: var(--bg-white-color);
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 100px;
}

.about-item-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

.about-item-descr {
  max-width: 270px;
  font-size: 14px;
  line-height: 1.71;
}

.section-how {
  padding-top: 47px;
}

.title-how {
  margin-bottom: 50px;
}

.how-list {
  display: flex;
  align-items: center;
  column-gap: 30px;
  row-gap: 10px;
}

.how-overlay-descr {
  position: relative;
}

.how-descr {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--how-overlay-color);
  padding: 27px 30px;
}

.how-descr-sub {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--bg-white-color);
}
